* {
  background-color: gray;
  color: white;
}
div {
  width: 100vw;
  height: 40vh;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
   width: 10vw;
   margin: 5px;
}